/* TODO: everything! */

/* Various horizontal rule classes */
hr.sm {
  width: 20%;
}
hr.xs {
  width: 10%;
}
hr.left {
  margin-left: 0;
}
hr.right {
  margin-right: 0;
}

/* Icon modifiers */
.transparent {
  opacity: 0.89;
}

// Base 'info-box' style, an info-box is a simple element that contains content in a bordered section
.info-box {
  background-color: @white;
  border: 1px solid @gray-lighter;
  border-radius: 2px;
  padding: floor((@padding-scale * 4));
}

// TODO: determine if we want these custom component styles in here or in the project itself..
// It seems to make more sense to keep them with the components, but if they're here we can use the variables
// Campaign Type styles

.info-box.campaign-type {
  text-align: center;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  &:hover .btn {
    color: @white; 
    background-color: @brand-primary;
    border-color: @white;
  }

  .campaign-type-label {
    margin-top: @padding-small-vertical;
  }

  .campaign-type-description {
    margin-bottom: @padding-base-vertical;
  }

  input[type='radio'] {
    position: fixed;
    opacity: 0;
  }
}

.campaign-type-icon {
  height: 80px;
  cursor: pointer;
}

// App Detail styles

.info-box.app-details {
  text-align: left;


  .app-details-icon {
    img {
      height: (@padding-scale * 12);
      width: (@padding-scale * 12);
    }
  }

  .app-details-app-info {
    h3 {
      margin: 0px;
    }
    p {
      margin-bottom: 0px;
    }
  }

  .app-details-store-info {
    h4 { 
      margin: 0px;
    }
    div.app-details-store {
      margin: 0px;
      span {
        vertical-align: middle;
      }
      img {
        margin-right: @padding-scale;
        height: 14px;
        width: 14px;
      }
    }
  }
}
