/* TODO: everything! */

.no-margin {
  margin: 0px;
}

/* Icon modifiers */
.transparent {
  opacity: 0.89;
}

// Base 'info-box' style, an info-box is a simple element that contains content in a bordered section
.info-box {
  background-color: @white;
  border: 1px solid @gray-lighter;
  border-radius: 2px;
  padding: floor((@padding-scale * 4));
}

// An element with a border
.bordered {
  border: 1px solid @gray-lighter;
}

// For displaying content inline with a radio group
.radio-content-block {
  border-left: 1px solid @light-blue;
  margin-left: 6px;
  padding-left: (@padding-scale * 3);
}

// spacing
.space-left {
  margin-left: (2 * @padding-scale);
}

.space-right {
  margin-left: (2 * @padding-scale);
}
